html, body {
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    background-color: black;
    color: white;
}

h1 {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

button {
    border: 2px solid rgb(230, 120, 221);
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: #f49cdf;
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    border: none;
    color: white;
    cursor: pointer;
    background-color: #d70c94;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.9);
}

.header-container {
    background-color: #42085b;
    padding: 20px;
    border-bottom: 2px solid #f49cdf;
}

.header-container .logo img {
    max-height: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .header-container {
        text-align: center;
    }
    .header-container .logo {
        margin-bottom: 10px;
    }
}

.header-container .btn {
    margin: 0 5px;
    background-color: #f49cdf;
    color: #42085b;
    border: none;
}

.header-container .btn:hover {
    background-color: #d70c94;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form-group {
    width: 100%;
    max-width: 800px;
    background-color: rgb(66, 8, 91);
    margin-bottom: 15px;
    padding: 20px;
    color: antiquewhite;
    font-size: 16px;
    border: 2px solid #f49cdf;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form .btn-send {
    background-color: #f49cdf;
    border: none;
    color: #42085b;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}

.contact-form .btn-send:hover {
    background-color: #d70c94;
    color: white;
}

.footer {
    background-color: #42085b;
    padding: 20px;
    font-family: "Poetsen One", sans-serif;
    font-size: 16px;
    color: #f49cdf;
    text-align: center;
}

.footer .btn {
    background-color: #54456b;
    border: none;
    color: white;
}

.footer .btn i {
    font-size: 24px;
}

.footer .btn:hover {
    background-color: #d70c94;
}

